* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f1f5f8;
  font-family: "Zilla Slab", serif;
}
.photo {
  width: 30%;
  height: 175px;
  object-fit: cover;
  border: 0.25rem solid black;
  border-radius: 10px;
  box-shadow: -10px 10px 10px 0px rgba(0, 0, 0, 0.75);
}
